* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
}

a:hover {
  color: red;
}

h1 {
  text-align: center;
}

.h1-wrap {
  display: flex;
  justify-content: space-around;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

video {
  width: 80vw;
}
